<figure class="languages-block">
  <h6 class="heading">Language Selection</h6>
  <p class="select-language-signature">Please, select the language of this site</p>
  <form class="language-options-block">
    <label for="english" class="radio-button-label">English</label>
    <input type="radio" name="language" class="radio-button" value="English" id="english"class="radio-button-label">
    <label for="english" class="radio-button-label">Russian</label>
    <input type="radio" name="language" class="radio-button" value="Russian" id="russian">
    <input type="button" name="submit-button" class="submit-button" value="Apply" (click)="applyLanguage()">
  </form>
  <figure class="close-button" (click)="closeInternalizationPanel()"></figure>
</figure>
