<h5 class="featured-artists-signature">Top 15 Albums</h5>

<div class="container" style="width: 1200px; margin-left: 50px">
  <div ng2-carouselamos class="slide-wrapper"
       [items]="topAlbums" [width]="1200" [$prev]="prev" [$next]="next" [$item]="item" >

  </div>
  <ng-template #prev>
    <img src="assets/icons/left-arrow.svg" class="left-arrow">
  </ng-template>
  <ng-template #next>
    <img src="assets/icons/right-arrow.svg" class="right-arrow">
  </ng-template>
  <ng-template #item let-item let-i="index">
    <div class="items">
      <a [href]="albumPagePath + '/' + item.id" type="button" class="featured-artist-picture"><img [src]="imagesPath+ item.albumCoverPictureUrlName" style="margin-right: 30px" class="featured-artist-picture"></a>
      <p class="album-name"><a type="button" [href]="albumPagePath  + item.id" class="album-name-link">{{item.title}}</a>
        <i class="fa fa-heart"></i>
      </p>
      <p class="artist-name"><a class="artist-name-link" [href]="artistPagePath + item.artistId">{{item.artistLogin}}</a>
        <i class="fa fa-heart"></i>
        <span class="number-of-likes">{{item.numberOfLikes}}</span>
      </p>
    </div>
  </ng-template>
</div>
