.purchased-music-greeting {

  color: white;
  margin-left: 4%;
  margin-top: 3%;
  font-family: JosephinSansRegular;
}

.no-music-in-purchased-music-block {

  display: flex;
  margin-left: 4%;
  align-items: center;
}

.no-music-in-purchased-music-block button {

  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 145px;
  height: 39px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-family: JosephinSansRegular;
}


.purchased-music-is-empty-text {

  margin-right: 20px;
  color: white;
  font-family: JosephinSansRegular;
}

.purchased-single-tracks {

  margin-left: 4%;
  position: relative;
}

.purchased-single-tracks-scrolled-area {

  overflow-y: scroll;
  width: 555px;
  height: 500px;
}

.purchased-album-tracks-scrolled-area {

  overflow-y: scroll;
}

.delete-all-single-tracks-button, .delete-all-album-tracks {

  position: absolute;
  right: 5%;
  top: 3%;
  cursor: pointer;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  height: 26px;
}

.delete-all-single-tracks-button:hover, .delete-all-album-tracks:hover {

  box-shadow: 0px 0px 20px 0px white;
}

.purchased-tracks-text,.purchased-album-tracks-text {

  color: white;
  font-family: JosephinSansRegular;
}

.delete-from-purchased-singles-button {

  width: 95px;
  margin-left: 10px;
}

.purchased-single-tracks-scrolled-area::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.purchased-single-tracks-scrolled-area::-webkit-scrollbar-thumb {
  background-color: #252b4d;
}

.purchased-single-tracks-scrolled-area::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #1b2039;
}

.purchased-album-tracks-scrolled-area::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.purchased-album-tracks-scrolled-area::-webkit-scrollbar-thumb {
  background-color: #252b4d;
}

.purchased-album-tracks-scrolled-area::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #1b2039;
}

.purchased-album-tracks-scrolled-area {

  height: 500px;
}

.no-album-tracks-purchased-yet, .no-single-tracks-purchased-yet {

  color: white;
  font-family: JosephinSansRegular;
  width: 230px;
  position: absolute;
  left: 3%;
}

.purchased-album-tracks {

  width: 35%;
  position: relative;
}
