.artist-page-comment {

  width: 270px;
  background-color: #1b2039;
  border-radius: 5px;
  margin: 0 0 0 20px;
  position: relative;

}

.fa-times {

  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}

.artist-page-comment-content {

  color: white;
  font-family: "JosephinSansRegular";
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  margin-left: 10px;
}

.artist-page-comment-author-data{

  display: flex;
}

.artist-page-comment-author-image {

  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: lightgrey;
  background-size: cover;
}

.artist-page-comment-author-and-date-block {

  margin-left: 20px;
  margin-top: 10px;
}

.artist-page-comment-author-name {

  margin: 0 10px 0 0;
  color: #ffffff;
  font-family: "JosephinSansSemiBold";
  font-size: 16px;
  font-weight: 400;

}

.artist-page-comment-date {

  color: #ffffff;
  font-family: "JosephinSansSemiBold";
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
