<!DOCTYPE html>
<html>
<head>
  <title>Not found</title>
</head>
<body>
<div class="container">
  <div class="central-message">
    <span class="central-message-4-number">4</span>
    <img src="assets/images/disk.png" class="disk-image">
    <span class="central-message-4-number">4</span>
    <p class="page-not-found-message">SORRY, THIS PAGE IS NOT FOUND</p>
    <a routerLink="miraculous/discover" class="go-back-button" (click)="goBackToDiscoverPage()">GO BACK</a>
  </div>
</div>
</body>
</html>
